<div class="grid">
  <div class="col-12">
    <div class="grid">
      <div class="col-12">
        <div class="grid">
          <div class="col-12 pb-0">
            <div class="grid justify-content-between">
              <div class="col-10 sm:col-8">
                <p class="font-bold mb-2">Nº facturación:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                ></div>
              </div>
              <div class="col-2">
                <p class="font-bold mb-2">Nº orden:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                ></div>
              </div>
            </div>
          </div>
          <div class="col-12 pb-0">
            <div class="grid">
              <div class="col-12 font-bold text-xl">
                Información del Cliente
              </div>
              <div class="col-6">
                <p class="font-bold mb-2">Identificación:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  72248236
                </div>
              </div>
              <div class="col-6">
                <p class="font-bold mb-2">Nombre:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  Pier Pezzano
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 pb-0">
            <div class="grid">
              <div class="col-12 font-bold text-xl">
                Información del Empleado
              </div>
              <div class="col-6">
                <p class="font-bold mb-2">Identificación:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  1143168461
                </div>
              </div>
              <div class="col-6">
                <p class="font-bold mb-2">Nombre:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  Critian Jesus Perez Diaz
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 pb-0">
            <div class="grid">
              <div class="col-12 font-bold text-xl">
                Programación del servicio
              </div>
              <div class="col-4">
                <p class="font-bold mb-2">Fecha de inicio:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  2024/10/02
                </div>
              </div>
              <div class="col-4">
                <p class="font-bold mb-2">Hora de inicio:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  08:00 a.m
                </div>
              </div>
              <div class="col-4">
                <p class="font-bold mb-2">Hora de final:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  10:30 a.m
                </div>
              </div>
              <div class="col-6">
                <p class="font-bold mb-2">Inicio de Servicio:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  09:00 a.m
                </div>
              </div>
              <div class="col-6">
                <p class="font-bold mb-2">Fin de Servicio:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  11:57 a.m
                </div>
              </div>

              <div class="col-6">
                <p class="font-bold mb-2">Dirección de inicio:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  Cl. 84 #54-73, Nte. Centro Historico, Barranquilla, Atlántico,
                  Colombia
                </div>
              </div>
              <div class="col-6">
                <p class="font-bold mb-2">Dirección de finalización:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  Cra. 57 #79-296, El Golf, Barranquilla, Atlántico, Colombia
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 pb-0">
            <div class="grid">
              <div class="col-12 font-bold text-xl">
                Información del la Orden
              </div>
              <div class="col-4">
                <p class="font-bold mb-2">Ciudad:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  BARRANQUILLA
                </div>
              </div>
              <div class="col-4">
                <p class="font-bold mb-2">Dirección:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  CARRERA 55 # 82 - 194
                </div>
              </div>
              <div class="col-4">
                <p class="font-bold mb-2">Telefono:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  3176411895
                </div>
              </div>
              <div class="col-12">
                <p class="font-bold mb-2">Nota del servicio:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                ></div>
              </div>
              <div class="col-12">
                <p class="font-bold mb-2">Nota del empleado:</p>
                <div
                  class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                >
                  MTTO 5 MINISPLIT, 2 CASSETTE -LA CLIENTA DICE QUE ALGUNOS
                  EQUIPOS NO LOS UTILIZAR REVISAR SI AMERITA EL MTTO Y REVISAR
                  UNA HUMEDAD PARA RECOMENDAR TRABAJO
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 pb-0">
            <div class="grid">
              <div class="col-12 font-bold text-xl">
                Herramientas y/o componentes especiales
              </div>
            </div>
          </div>

          <div class="col-12 pb-0">
            <div class="grid">
              <div class="col-12 font-bold text-xl">
                Detalle de la orden de servicio
              </div>
              <div class="col-12">
                <div class="flex justify-content-between">
                  <div class="w-10"></div>
                  <div class="font-bold text-base w-10">revisión</div>
                  <div class="font-bold text-base w-10">mantenimiento</div>
                  <div class="font-bold text-base w-10">reparación</div>
                  <div class="font-bold text-base w-10">instalación</div>
                  <div class="font-bold text-base w-10">otros</div>
                </div>
                <div
                  class="flex justify-content-between gap-2 mt-2"
                  *ngFor="
                    let item of [
                      'Mini Split',
                      'Central',
                      'Cassette',
                      'Piso Techo',
                      'Fancoil',
                      'Condensadores',
                      'Otros',
                      'Total'
                    ]
                  "
                >
                  <div class="w-10">{{ item }}</div>
                  <div
                    class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem w-full w-10"
                    *ngFor="let item of [1, 2, 3, 4, 5]"
                  >
                    <span class="text-black-alpha-10">Cantidad</span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="grid">
                  <div class="col-6">
                    <p class="font-bold mb-2">Descripción del servicio:</p>
                    <div
                      class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                    >
                      Se desmonta carita de 12.000btu. el condesador no se pudo
                      desmontar por cuestiones de incomodidad al subir donde
                      está el condensador. La administración me notifica de que
                      ese aire se va a cambiar, se aprovecha que se va colocar
                      otro nuevo y se desmonta el viejo.
                    </div>
                  </div>

                  <div class="col-6">
                    <p class="font-bold mb-2">Observación del técnico:</p>
                    <div
                      class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem"
                    >
                      Equipo cuarto principal cambiar aislamiento en area de
                      carita
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <p class="font-bold mb-2">Firma del cliente:</p>
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/mr-cool-ing.appspot.com/o/orders%2FserviceOrder%2Ffirmas%2F1695.png?alt=media&token=7ceed137-55f7-4f58-aa3f-3b2b0fa2c805"
                  class="h-8rem"
                  alt=""
                />
              </div>
              <div class="col-12">
                <p class="font-bold mb-2">imagen del servicio:</p>
                <div class="grid">
                  <div
                    class="col-4"
                    *ngFor="
                      let item of [
                        'https://firebasestorage.googleapis.com/v0/b/mr-cool-ing.appspot.com/o/orders%2FserviceOrder%2FimagenService%2F1695.png?alt=media&token=8563c658-a6f2-4b55-b94d-7fbc936da11c'
                      ]
                    "
                  >
                    <img [src]="item" alt="" class="w-full" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
