<div class="grid">
  <div class="col-12">
    <div class="grid">
      <div class="col-12">
        <p class="font-bold text-2xl">Datos básicos</p>
      </div>
      <div class="col-12">
        <div class="grid">
          <div class="col-12 sm:col-6">
            <p class="font-bold mb-2">Tipo:</p>
            <div class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem">
              Mantenimeinto
            </div>
          </div>
          <div class="col-12 sm:col-6">
            <p class="font-bold mb-2">Tipo Documento:</p>
            <div class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem">
              Cédula de ciudadanía
            </div>
          </div>
          <div class="col-12">
            <p class="font-bold mb-2">Identificación:</p>
            <div class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem">
              1020749588
            </div>
          </div>
          <div class="col-12 sm:col-6">
            <p class="font-bold mb-2">Nombre:</p>
            <div class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem">
              critian jesus
            </div>
          </div>
          <div class="col-12 sm:col-6">
            <p class="font-bold mb-2">Apellido:</p>
            <div class="text-sm bg-white shadow-1 border-round p-2 min-h-2rem">
              perez diaz 
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <monthsChartEmployee />
  </div>
</div>
