<div class="grid contDashboard">
  <div class="col-12 contCardInfo">
    <div class="grid justify-content-center">
      <div class="col-12 sm:col-6 lg:col-4">
        <cardInfoDashboard
          title="Clientes"
          value="361"
          class="cursor-pointer"
          icon="pi pi-user"
        ></cardInfoDashboard>
      </div>
      <div class="col-12 sm:col-6 lg:col-4">
        <cardInfoDashboard
          title="Empleados"
          value="13"
          class="cursor-pointer"
          icon="pi pi-briefcase"
        ></cardInfoDashboard>
      </div>
      <div class="col-12 sm:col-6 lg:col-4">
        <cardInfoDashboard
          title="Total Ordenes"
          value="928"
          class="cursor-pointer"
          icon="pi pi-inbox"
        ></cardInfoDashboard>
      </div>
    </div>
  </div>
  <!---->
  <div class="col-12 contChart">
    <div class="grid">
      <div class="col-12">
        <monthsChart />
      </div>
      <div class="col sm:col-6">
        <stateOrders />
      </div>
      <div class="col sm:col-6">
        <customers />
      </div>
      <div class="col-12">
        <teamMembers />
      </div>
    </div>
  </div>
</div>
